<div class="row y-bottom">
    <div class="col-lg-6 padding-0">
        <img src="{{ 'assets/images/about1.png'|theme }}" alt="">
    </div>
    <div class="col-lg-6 pl-66 pt-75 pb-75 md-pt-42 md-pb-72">
        <div class="sec-title mb-47 md-mb-42">
            <div class="sub-title primary">{{ 'About Us'|_ }}</div>
            <h2 class="title">{{ settings.page.abouts[0].title }}</h2>
            <p class="text-justify">{{ settings.page.abouts[0].description }}</p>
        </div>
        {% for item in settings.page.abouts[0].abilities %}
        <div class="services-part {{ loop.last ? '' : 'mb-30' }}">
            <div class="services-icon">
                <img src="{{ item.icon ? item.icon|media : 'assets/images/profile1.png'|theme }}" alt="image">
            </div>
            <div class="services-text">
                <h4 class="title">{{ item.heading }}</h4>
                <div class="desc text-justify">{{ item.leading }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
