<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs bg-9" style="background-image: url({{ settings.appearance.banner_primary.path }})">
    <div class="container">
        <div class="content-part text-center">
            <h1 class="breadcrumbs-title white-color mb-0">&nbsp;</h1>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->
