
<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer">
    <div class="container">
        <div class="footer-content pt-62 pb-62 md-pb-48 sm-pt-48">
            <div class="row">
                <div class="col-lg-6 offset-md-3 text-center col-md-12 col-sm-12 footer-widget md-mb-39">
                    <div class="about-widget pr-15">
                        <h3 class="text-white">{{ settings.site.site_name }}</h1>
                        <p class="desc">{{ settings.site.site_description }}</p>
                        <p class="text-center text-muted">© Copyright 2021 {{ settings.site.site_name }}. {{ 'All Rights Reserved'|_ }}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
