[viewBag]

[staticMenu]
code = "main-menu"
==
<!--Full width header Start-->
<div class="full-width-header">
    <!-- Toolbar Start -->
    <div class="toolbar-area hidden-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <div class="toolbar-contact">
                        <ul>
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:{{ settings.site.contacts[0].email }}">{{ settings.site.contacts[0].email }}</a>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <a href="tel:{{ settings.site.contacts[0].phone }}">{{ settings.site.contacts[0].phone }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="toolbar-contact">
                        <ul>
                            {% for code, name in locales %}
                            <li>
                                <a href="#" data-request="onSwitchLocale" data-request-data="'locale':'{{ code }}'">{{ code|upper }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo-area">
                            <a href="{{ 'home'|page }}">
                                <img src="{{ settings.site.site_logo.path }}" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 text-right">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <div class="mobile-menu">
                                    <a class="rs-menu-toggle">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </div>
                                <nav class="rs-menu">
                                    <ul class="nav-menu text-right">
                                        {% for item in staticMenu.menuItems %}
                                        <li class="{{ item.items|length ? 'menu-item-has-children' : 'menu-item' }}">
                                            <a href="{{ item.url }}">{{ item.title }}</a>
                                            {% if item.items|length %}
                                            <ul class="sub-menu">
                                                {% for it in item.items %}
                                                <li><a href="{{ it.url }}">{{ it.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}

                                        {# <li class="menu-item-has-chidren">
                                            <a href="#">{{ 'LANGUAGE'|_ }}</a>
                                            <ul class="sub-menu">
                                                {% for code, name in locales %}
                                                <li><a href="#" data-request="onSwitchLocale" data-request-data="'locale': '{{ code }}'">{{ name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li> #}
                                    </ul>
                                </nav>
                            </div>
                            <!-- //.main-menu -->
                            {#
                            <div class="expand-btn-inner">
                                <ul>
                                    <li>
                                        <a id="nav-expander" class="humburger nav-expander" href="#">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                            <span class="dot4"></span>
                                            <span class="dot5"></span>
                                            <span class="dot6"></span>
                                            <span class="dot7"></span>
                                            <span class="dot8"></span>
                                            <span class="dot9"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
        <!-- Canvas Menu start -->
        <nav class="right_menu_togle hidden-md">
            <div class="close-btn">
                <span id="nav-close" class="humburger">
                    <span class="dot1"></span>
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                    <span class="dot4"></span>
                    <span class="dot5"></span>
                    <span class="dot6"></span>
                    <span class="dot7"></span>
                    <span class="dot8"></span>
                    <span class="dot9"></span>
                </span>
            </div>
            <div class="canvas-logo">
                <a href="{{ 'home'|page }}">
                    <img src="{{ settings.site.site_logo.path }}" alt="logo">
                </a>
            </div>
            <div class="offcanvas-text">
                <p>{{ settings.site.site_description }}</p>
            </div>
            <div class="canvas-contact">
                <ul class="contact">
                    <li>
                        <i class="flaticon-location"></i>
                        {{ settings.site.contacts[0].address }}
                    </li>
                    <li>
                        <i class="flaticon-call"></i>
                        <a href="tel:{{ settings.site.contacts[0].phone }}">{{ settings.site.contacts[0].phone }}</a>
                    </li>
                    <li>
                        <i class="flaticon-email"></i>
                        <a href="mailto:{{ settings.site.contacts[0].email }}">{{ settings.site.contacts[0].email }}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Canvas Menu end -->
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->
