<div class="service-wrap">
    <div class="icon-part gallery-wrap">
        <a class="image-popup" href="{{ cert.picture.path }}">
            <img src="{{ cert.picture.path }}" alt="">
        </a>
    </div>
    <div class="content-part">
        <h5 class="title">
            {{ cert.code }}
        </h5>
        <div class="desc">Reg No: {{ cert.number }}</div>
    </div>
</div>
