url       = "/service/detail/:slug"
layout    = "default"
is_hidden = 0
==
function onEnd() {
    $this['services'] = \Mit\Service\Models\Service::get();
    $this['service']  = \Mit\Service\Models\Service::whereSlug($this->param('slug'))->first();
}
==
{% partial 'banner-primary' title=service.name %}
<section class="service-details-page pdt-110 pdb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="service-nav-menu mrb-30">
                    <div class="service-link-list mb-30">
                        <ul class="">
                            {% for serv in services %}
                            <li class="{{ service.slug == serv.slug ? 'active' : '' }}">
                                <a href="{{ 'news/detail'|page({slug: serv.slug}) }}"><i class="fa fa-chevron-right"></i>{{ serv.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="brochure-download">
                        <h4 class="mrb-40 widget-title">Brochure Download</h4>
                        <p>Please click download button for getting brochure file</p>
                        <a href="#" class="cs-btn-one"><span class="far fa-file-pdf mrr-10"></span> Download PDF</a>
                    </div>
                </div>
                <div class="sidebar-widget bg-primary-color" data-background="images/bg/abs-bg4.png" style="background-image: url(&quot;images/bg/abs-bg4.png&quot;);">
                    <div class="contact-information">
                        <h3 class="text-white mrb-20">Contact Us</h3>
                        <p class="text-white">If you have any query about our service please contact with us</p>
                        <ul class="list-items text-white mrb-20">
                            <li><span class="fas fa-phone alt mrr-10 text-white"></span>(00) 2500-123-4567</li>
                            <li><span class="fas fa-globe mrr-10 text-white"></span>121 King Street, Australia</li>
                            <li><span class="fas fa-envelope mrr-10 text-white"></span>example@gmail.com</li>
                        </ul>
                        <a href="#" class="cs-btn-one btn-light mrt-15"><span class="fas fa-phone alt mrr-10"></span>Call Now </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="service-detail-text">
                    <div class="blog-standared-img slider-blog mrb-35">
                        <img class="img-full" src="https://webextheme.com/html/logistek-html/version3/images/service/service-details1.jpg" alt="">
                    </div>
                    <h3 class="mrb-20">Service Details</h3>
                    <p class="mrb-40">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p class="mrb-40">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs</p>
                    <div class="service-details-content">
                        <div class="row d-flex mrb-40">
                            <div class="col-lg-12 col-xl-6">
                                <h3 class="mrb-20">Service Included</h3>
                                <ul class="order-list primary-color mrb-lg-40">
                                    <li>revolutionary catalysts for chang</li>
                                    <li>catalysts for chang the Seamlessly</li>
                                    <li>business applications through</li>
                                    <li>procedures whereas processes</li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <img class="img-full" src="images/service/service-details-inner-img2.jpg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="mrb-30">Frequently Asked Question</h3>
                            </div>
                            <div class="col-lg-12">
                                <div class="faq-block">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <div class="accordion-header active">
                                                <h5 class="title">Q: What happens during Freshers' Week?</h5>
                                                <span class="fas fa-arrow-right"></span>
                                            </div>
                                            <div class="accordion-body">
                                                <p>A: Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <h5 class="title">Q: What is the transfer application process?</h5>
                                                <span class="fas fa-arrow-right"></span>
                                            </div>
                                            <div class="accordion-body">
                                                <p>A: Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <h5 class="title">Q: Why should I attend community college?</h5>
                                                <span class="fas fa-arrow-right"></span>
                                            </div>
                                            <div class="accordion-body">
                                                <p>A: Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
