title     = "Service"
url       = "/service"
layout    = "default"
is_hidden = 0
==
function onEnd() {
    $this['services'] = \Mit\Service\Models\Service::get();
}
==

{% partial 'banner-primary' title=this.page.title %}
<section class="service-content-area pdt-110 pdb-80">
    <div class="section-content">
        <div class="container">
            <div class="row justify-content-center">
                {% for service in services %}
                <div class="col-xl-4 col-lg-6">
                    <div class="service-item-box mrb-30">
                        <div class="service-item-thumb">
                            <img class="img-full" src="https://webextheme.com/html/logistek-html/version3/images/service/service1.jpg" alt="">
                            <div class="service-item-icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                        </div>
                        <div class="service-item-content">
                            <div class="service-item-title">
                                <h3 class="mrb-15">{{ service.name }}</h3>
                            </div>
                            <div class="service-item-para">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est amet similique ipsum reprehenderit sed.</p>
                            </div>
                            <div class="service-item-link">
                                <a class="text-uppercase text-primary-color" href="{{ 'service/detail'|page({slug: service.slug}) }}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
