url    = "/service/detail/:slug"
layout = "default"
==
function onEnd() {
    $service          = \Mit\Service\Models\Service::whereSlug($this->param('slug'))->first();
    $this['service']  = $service;
    $this['items']    = \Mit\Service\Models\Item::whereServiceId($service->id)->get();
}
==
{% partial 'banner-primary' title=service.name %}
<div id="rs-portfolio" class="rs-portfolio single pt-100 pb-70 md-pt-80 md-pb-50">
    <div class="container">
        <div class="row mb-39">
            <div class="col-lg-8 pr-55 md-pr-15">
                <img class="mb-25" src="{{ service.galleries|length ? service.galleries[0].path : 'assets/images/placeholder-news.png'|theme }}" alt="">
                <h2>{{ service.name }}</h2>
                <p class="desc mb-31">
                    {{ service.body|raw }}
                </p>

                {% if service.abilities|length %}
                <ul class="listing-style regular2 pl-10 sm-pl-0">
                    {% for ability in service.abilities %}
                    <li>{{ ability.item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col-lg-4 md-order-first md-mb-40">
                <div class="project-sidebar">
                    {% if items|length %}
                    <ul class="page-nav-vertical mb-50">
                        {% for item in items %}
                        <li><a href="{{ 'service/item'|page({parameter: item.slug}) }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="addd mb-50" style="background-image: url({{ 'assets/images/contact.jpg'|theme }})">
                        <div class="contact-icon"> <i class="fa fa-phone"></i></div>
                        <h2 class="title white-color">{{ 'Have any Questions?'|_ }} <br> {{ 'Call us Today!'|_ }}</h2>
                        <div class="contact white">
                            <a href="tel:{{ settings.site.contacts[0].phone }}">{{ settings.site.contacts[0].phone }}</a>
                        </div>
                    </div>

                    {% if service.attachments|length %}
                    <div class="brochures">
                        <h3 class="title mb-20">{{ 'Attachments'|_ }}</h3>
                        {% for att in service.attachments %}
                        <p class="desc">{{ att.name }}</p>
                        <div class="dual-btn modify">
                            <div class="dual-btn-wrap">
                                <a class="btn-left" target="_blank" href="{{ att.attachment|media }}"><span>Download</span></a>
                            </div>
                        </div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if service.galleries|length %}
        <hr>
        <h3 class="mb-41 mt-41">{{ 'Galleries'|_ }}</h3>
        <div class="row gallery-wrap">
            {% for gallery in service.galleries %}
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="gallery-item">
                    <div class="content-part">
                        <img src="{{ gallery.getThumb('700', '620', 'crop') }}" alt="">
                        <a class="image-popup" href="{{ gallery.path }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
