title  = "Services"
url    = "/service"
layout = "default"
==
function onEnd() {
    $this['services'] = \Mit\Service\Models\Service::get();
}
==

{% partial 'banner-primary' title=this.page.title %}
<div id="rs-services" class="rs-services style2  pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row gutter-16">
            {% for key, service in services %}
                <div class="col-lg-6 col-sm-6 mb-16">
                    {% partial 'service/card-service' service=service %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="rs-cta bg21 pt-90 pb-100 md-pt-68 md-pb-80">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title modify white">{{ 'Any plan to start a project'|_ }}</div>
            <h2 class="title3 white-color">{{ 'Our Experts always ready to work'|_ }} <br> with you.</h2>
            <div class="btn-part">
                <a class="readon banner-style" href="{{ 'contact'|page }}">{{ 'Get started'|_ }}</a>
            </div>
        </div>
    </div>
</div>

<div id="rs-contact" class="rs-contact style1 inner">
    <div class="gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            {% for contact in settings.site.contacts %}
                {% partial 'contact/card' contact=contact %}
            {% endfor %}
        </div>
    </div>
</div>
