url    = "/service/item/:parameter"
layout = "default"
==
function onEnd() {
    $item              = \Mit\Service\Models\Item::whereSlug($this->param('parameter'))->first();
    $this['item']      = $item;
    $this->page->title = $item->name;
    $this->page->image = count($item->galleries) ? $item->galleries[0]->getPath() : '';
}
==
{% partial 'banner-primary' title=item.name %}
<div id="rs-portfolio" class="rs-portfolio single pt-100 pb-70 md-pt-80 md-pb-50">
    <div class="container">
        <div class="btn-part text-left">
            <a class="readon" href="{{ 'service/detail'|page({slug: item.service.slug})}}">{{ 'BACK TO'|_ }} {{ item.service.name }}</a>
        </div>
        <hr>
        <div class="row mb-39">
            <div class="col-lg-8 pr-55 md-pr-15">
                <img class="mb-25" src="{{ item.galleries|length ? item.galleries[0].getThumb('800', '533', 'crop') : 'assets/images/placeholder-news.png'|theme }}" alt="">
                <h2>{{ item.name }}</h2>
                <p class="desc mb-31">
                    {{ item.body|raw }}
                </p>

                {% if item.abilities|length %}
                <ul class="listing-style regular2 pl-10 sm-pl-0">
                    {% for ab in item.abilities %}
                    <li>{{ ab.item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col-lg-4 md-order-first md-mb-40">
                <div class="project-sidebar">
                    <div class="addd mb-50" style="background-image: url({{ 'assets/images/contact.jpg'|theme }})">
                        <div class="contact-icon"> <i class="fa fa-phone"></i></div>
                        <h2 class="title white-color">{{ 'Have any Questions?'|_ }} <br> {{ 'Call us Today!'|_ }}</h2>
                        <div class="contact white">
                            <a href="tel:{{ settings.site.contacts[0].phone }}">{{ settings.site.contacts[0].phone }}</a>
                        </div>
                    </div>

                    {% if item.attachments|length %}
                    <div class="brochures">
                        <h3 class="title mb-20">{{ 'Attachments'|_ }}</h3>
                        {% for att in item.attachments %}
                        <p class="desc">{{ att.name }}</p>
                        <div class="dual-btn modify">
                            <div class="dual-btn-wrap">
                                <a class="btn-left" target="_blank" href="{{ att.attachment|media }}"><span>Download</span></a>
                            </div>
                        </div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if item.galleries|length %}
        <hr>
        <h3 class="mb-41 mt-41">{{ 'Galleries'|_ }}</h3>
        <div class="row gallery-wrap">
            {% for gallery in item.galleries %}
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="gallery-item">
                    <div class="content-part">
                        <img src="{{ gallery.getThumb('700', '620', 'crop') }}" alt="">
                        <a class="image-popup" href="{{ gallery.path }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<!-- Portfolio Section End -->
