title  = "Contact"
url    = "/contact"
layout = "default"
==
{% partial 'banner-primary' title=this.page.title %}
<div id="rs-contact" class="rs-contact style1 inner">
    <div class="gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            {% for contact in settings.site.contacts %}
                {% partial 'contact/card' contact=contact %}
            {% endfor %}
        </div>
    </div>
</div>
