title     = "Home"
url       = "/"
layout    = "default"
is_hidden = 0

[blogPosts]
pageNumber     = "{{ :page }}"
postsPerPage   = 10
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "blog/category"
postPage       = "blog/post"
==
<?php
function onEnd() {
    $this['certifications'] = \Mit\Certification\Models\Certification::get();
    $this['services']       = \Mit\Service\Models\Service::get();
}
?>
==
<!-- Slider Start -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
        {% for key, slider in settings.appearance.sliders %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ key }}" class="{{ key == 0 ? 'active' : '' }}"></li>
        {% endfor %}
  </ol>
  <div class="carousel-inner">
        {% for key, slider in settings.appearance.sliders %}
        <div class="carousel-item {{ key == 0 ? 'active' : '' }}">
            <img src="{{ slider.path }}" class="d-block w-100">
        </div>
        {% endfor %}
  </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Slider End -->

<!-- Services Mini Section Start -->
<div class="rs-services style1 pt-100 pb-84 md-pt-80 md-pb-64">
    <div class="container">
        <div class="row y-middle mb-53 md-mb-40 sm-mb-50">
            <div class="col-md-6 sm-mb-22">
                <div class="sec-title">
                    <span class="sub-title primary right-line">{{ 'CERTIFICATION'|_ }}</span>
                    <h2 class="title mb-0">{{ 'Certified Company'|_ }}</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-part text-right sm-text-left">
                    <a class="readon" href="{{ 'about/certification'|page }}">{{ 'View All' }}</a>
                </div>
            </div>
        </div>
        <div class="row gutter-16">
            {% for cert in certifications %}
            <div class="col-lg-4 col-sm-6 mb-16">
                {% partial 'certification/card-certification' cert=cert %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services Mini Section End -->

<!-- About Section Start -->
<div id="rs-about" class="rs-about style1 bg1 md-pt-80">
    <div class="container">
        {% partial 'about/profile' %}
    </div>
</div>
<!-- About Section End -->

<!-- Services Section Start -->
<div id="rs-services" class="rs-services style2  pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title style2 mb-60 md-mb-50 sm-mb-42">
            <div class="first-half text-right">
                <div class="sub-title primary">All Our Service</div>
                <h2 class="title mb-0">Service We Offer</h2>
            </div>
            <div class="last-half">
                <p class="desc mb-0 pr-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscip it arcu. Quisque aliquam posuere tortor aliquam posuere tortor develop database.</p>
            </div>
        </div>
        <div class="row gutter-20 justify-content-center">
            {% for key, service in services %}
            <div class="col-md-6 sm-mb-30">
                {% partial 'service/card-service' service=service %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services Section End -->

<!-- Contact Section Start -->
<div class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="white-bg">
            {% for contact in settings.site.contacts %}
                {% partial 'contact/card' contact=contact %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Contact Section End -->

<!-- Blog Section Start -->
<div class="rs-blog style1 pt-91 pb-92 md-pt-71 md-pb-72 sm-pb-75">
    <div class="container">
        <div class="row y-middle mb-53 md-mb-40 sm-mb-50">
            <div class="col-md-6 sm-mb-22">
                <div class="sec-title">
                    <span class="sub-title primary right-line">{{ 'LATEST ACTIVITIES'|_ }}</span>
                    <h2 class="title mb-0">{{ 'Read Latest Updates'|_ }}</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-part text-right sm-text-left">
                    <a class="readon" href="{{ 'news/index'|page }}">{{ 'View All' }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i, post in blogPosts.posts %}
            {% set i = i + 1 %}
            <div class="col mb-33">
                {% partial 'news/card-posts' post=post %}
            </div>
            {% if i%3 == 0 %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog Section End -->
