<div class="service-wrap">
    <div class="image-part">
        <a href="{{ 'service/detail'|page({slug: service.slug}) }}">
            <img src="{{ service.galleries|length ? service.galleries[0].getThum('560', '590', 'crop') : 'assets/images/placeholder-service.png'|theme }}" alt="">
        </a>
    </div>
    <div class="content-part text-center">
        <h3 class="title"><a href="{{ 'service/detail'|page({slug: service.slug}) }}">{{ service.name }}</a></h3>
        <div class="desc">{{ service.description }}</div>
    </div>
</div>
