<div class="row mb-30">
    <div class="col-lg-8 form-part white-bg">
        <div class="sec-title mb-45">
            <div class="sub-title primary">&nbsp;</div>
            <h2 class="title mb-0">{{ contact.name }}</h2>
        </div>
        <iframe src="{{ contact.maps }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-lg-4 pl-0 md-pr-0 md-order-first">
        <div class="contact-info">
            <h3 class="title">&nbsp;</h3>
            <div class="info-wrap mb-20">
                <div class="icon-part">
                    <i class="flaticon-location"></i>
                </div>
                <div class="content-part">
                    <h4>{{ 'Address'|_ }}</h4>
                    {{ contact.address }}
                </div>
            </div>
            <div class="info-wrap mb-20">
                <div class="icon-part">
                    <i class="flaticon-call"></i>
                </div>
                <div class="content-part">
                    <h4>{{ 'Telephone'|_ }}</h4>
                    <p>
                        <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                    </p>
                </div>
            </div>
            <div class="info-wrap mb-20">
                <div class="icon-part">
                    <i class="flaticon-email"></i>
                </div>
                <div class="content-part">
                    <h4>{{ 'Email'|_ }}</h4>
                    <p>
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
