title  = "Career"
url    = "/career"
layout = "default"
==
use Illuminate\Support\Facades\Mail;

function onRequestApplication() {
    $this['career'] = \Mit\Career\Models\Career::find(post('career_id'));
}

function onSubmitApplication() {
    $validator = \Validator::make(
        $form  = \Input::all(), [
            'resume' => 'required|mimes:pdf',
            'name'   => 'required',
            'phone'  => 'required',
            'email'  => 'required|email',
        ]
    );

    if ($validator->fails()) {
        throw new \ValidationException($validator);
    }

    $career             = \Mit\Career\Models\Career::find(post('career_id'));
    $application        = new \Mit\Career\Models\Application;
    $application->name  = post('name');
    $application->email = post('email');
    $application->phone = post('phone');
    $application->save();


    $file       = new \System\Models\File;
    $file->data = Input::file('resume');
    $file->save();

    $application->resume()->add($file);
    \Flash::success('Application success sent');

    $vars = ['application' => $application];
    $site = \Mit\Setting\Models\Site::instance();

    Mail::send('mit.career::mail.career-aplication', $vars, function($message) use($site, $career) {
        $message->to($site['contact_career_to'], 'Career Maritim Indotrans');
        $message->subject('Aplikasi Lamaran baru untuk '.$career->position);

        if(count($site['contact_career_cc'])) {
            foreach($site['contact_career_cc'] as $cc) {
                $message->cc($cc->item);
            }
        }
    });

    return \Redirect::refresh();
}

function onEnd() {
    $this['careers'] = \Mit\Career\Models\Career::get();
}
==
{% partial 'banner-primary' title=this.page.title %}
<div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
    <div class="container">
        <div id="accordion" class="accordion">
            {% for key, career in careers %}
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#career{{ key }}">{{ career.position }}</a>
                </div>
                <div id="career{{ key }}" class="collapse {{ key == 0 ? 'show' : '' }}" data-parent="#accordion">
                    <div class="card-body">
                        {% if career.descriptions|length %}
                        <div class="mb-30">
                            <h5>{{ 'Job Description'|_ }}</h5>
                            <ul class="listing-style2 mb-33">
                                {% for desc in career.descriptions %}
                                <li>{{ desc.item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if career.requirements|length %}
                        <div class="mb-30">
                            <h5>{{ 'Requirements'|_ }}</h5>
                            <ul class="listing-style2 mb-33">
                                {% for desc in career.requirements %}
                                <li>{{ desc.item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <p>{{ career.body|raw }}</p>
                        <hr>
                        <button class="btn btn-primary"
                            data-request="onRequestApplication"
                            data-request-data="'career_id': {{ career.id }}"
                            data-request-success="$('#modalApplication').modal('show')"
                            data-request-update="'career/modal-application': '[data-target-modal-application]'"
                            data-attach-loading
                            data-request-flash>APPLY NOW</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalApplication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" data-target-modal-application>
    </div>
</div>
