url       = "/activity/read/:slug"
layout    = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
function onEnd() {
    $this['blogPosts'] = \Rainlab\Blog\Models\Post::whereNotIn('id', [$this->post->id])->get();
    $this->page->title = $this->post->title;
}
==
{% set post = blogPost.post %}
{% partial 'banner-primary' title=post.title %}
<!-- Blog Section Start -->
<div class="rs-blog inner single pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-part">
                    <div class="blog-img">
                        <a href="#">
                            <img src="{{ 'assets/images/placeholder-news.png'|theme }}" alt="">
                        </a>
                    </div>
                    <div class="article-content shadow mb-60">
                        <h2>{{ post.title }}</h2>
                        <ul class="blog-meta mb-22">
                            <li>
                                <i class="fa fa-calendar-check-o"></i>
                                {{ post.published_at|date('d F Y') }}
                            </li>
                        </ul>
                        <div>
                            {{ post.content_html|raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 md-mb-50 pl-35 lg-pl-15 md-order-first">
                <div id="sticky-sidebar" class="blog-sidebar">
                    <div class="sidebar-popular-post sidebar-grid shadow mb-50">
                        <div class="sidebar-title">
                            <h3 class="title mb-20">Recent Post</h3>
                        </div>
                        {% for post in blogPosts %}
                            {% partial 'news/card-posts-recent' post=post %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-end"></div>
    </div>
</div>
<!-- Blog Section End -->
