title  = "Activity"
url    = "/activity"
layout = "default"

[blogPosts]
pageNumber     = "{{ :page }}"
postsPerPage   = 10
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "blog/category"
postPage       = "blog/post"

==
{% partial 'banner-primary' title=this.page.title %}
<!-- Blog Section  Start -->
<div class="rs-blog inner pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% for post in blogPosts.posts %}
                    {% partial 'news/card-posts-index' post=post %}
                {% endfor %}
            </div>
            <div class="col-lg-4 md-mb-50 pl-35 lg-pl-15 md-order-first">
                {# <div id="sticky-sidebar" class="blog-sidebar">
                    <div class="sidebar-popular-post sidebar-grid shadow">
                        <div class="sidebar-title">
                            <h3 class="title semi-bold mb-20">Recent Post</h3>
                        </div>
                        {% for i in 1..5 %}
                            {% partial 'news/card-posts-recent' %}
                        {% endfor %}
                    </div>
                </div> #}
            </div>
        </div>
        <div id="sticky-end"></div>
    </div>
</div>
<!-- Blog Section  End -->
