<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">
            <img src="{{ settings.site.site_logo.path }}" alt="" class="w-50">
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form data-request="onSubmitApplication" data-request-files>
            <div class="form-group">
                <label>{{ 'Position'|_ }}</label>
                <input type="hidden" name="career_id" value="{{ career.id }}">
                <input type="text" name="position" class="form-control" value="{{ career.position }}" readonly>
            </div>

            <div class="form-group">
                <label>{{ 'Resume'|_ }}</label> <small class="text-muted">(.pdf file type)</small>
                <input type="file" name="resume" class="form-control">
            </div>

            <div class="form-group">
                <label>{{ 'Name'|_ }}</label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label>{{ 'Phone'|_ }}</label>
                <input type="text" name="phone" class="form-control">
            </div>

            <div class="form-group">
                <label>{{ 'Email'|_ }}</label>
                <input type="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>{{ 'SEND'|_ }}</button>
            </div>
        </form>
    </div>
</div>
