<div class="single-post mb-20">
    <div class="post-image">
        <a href="#">
            <img src="{{ 'assets/images/placeholder-news.png'|theme }}" alt="">
        </a>
    </div>
    <div class="post-desc">
        <div class="post-title">
            <h5 class="margin-0">
                <a href="#">{{ post.title }}</a>
            </h5>
        </div>
        <ul>
            <li>
                <i class="fa fa-calendar"></i>
                {{ post.published_at|date('d F Y') }}
            </li>
        </ul>
    </div>
</div>
