<div class="blog-wrap">
    <div class="img-part">
        <img src="{{ 'assets/images/placeholder-news.png'|theme }}" alt="">
        <div class="fly-btn">
            <a href="{{ 'news/detail'|page({slug: post.slug}) }}">
                <i class="flaticon-right-arrow"></i>
            </a>
        </div>
    </div>
    <div class="content-part">
        {# <a class="categories" href="{{ 'news/detail'|page({slug: post.slug}) }}">Strategy</a> #}
        <h3 class="title">
            <a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a>
        </h3>
        <div class="blog-meta">
            <div class="date">
                <i class="fa fa-clock-o"></i>
                {{ post.published_at|date('l, d F Y') }}
            </div>
        </div>
    </div>
</div>
