<div class="blog-wrap shadow mb-70 xs-mb-50">
    <div class="image-part">
        <a href="{{ 'news/detail'|page({slug: post.slug}) }}">
            <img src="{{ 'assets/images/placeholder-news.png'|theme }}" alt="">
        </a>
    </div>
    <div class="content-part">
        <h3 class="title mb-10">
            <a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a>
        </h3>
        <ul class="blog-meta mb-22">
            <li>
                <i class="fa fa-calendar-check-o"></i>
                {{ post.published_at|date('d F Y') }}
            </li>
        </ul>
        <p class="desc mb-20">{{ str_limit(post.content_html|raw, 150, '...') }}</p>
        <div class="btn-part">
            <a class="readon-arrow" href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ 'Continue Reading'|_ }}</a>
        </div>
    </div>
</div>
