description = "Default layout"

[localePicker]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}
    </head>
    <body class="defult-home">

        <!-- Preloader area start here -->
        <div id="loader" class="loader">
            <div class="spinner"></div>
        </div>

        <!-- Header -->
        {% partial 'header' %}

        <!-- Content -->
        <div class="main-content">
            {% page %}
        </div>

        <!-- Footer -->
        {% partial 'footer' %}

         <!-- start scrollUp  -->
        <div id="scrollUp">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->


        <!-- Scripts -->
        <script src="{{ [

            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/modernizer.js',
            'assets/js/bootstrap.js',
            'assets/js/rs-menu.js',
            'assets/js/jquery-nav.js',
            'assets/js/owl-carousel.js',
            'assets/js/slick.js',
            'assets/js/isotope.js',
            'assets/js/wow.js',
            'assets/js/aos.js',
            'assets/js/counter-up.js',
            'assets/js/waypoints.js',
            'assets/js/magnific-popup.js',
            'assets/js/main.js',

        ]|theme }}"></script>

        {% scripts %}

        {% partial 'flash' %}

    </body>
</html>
