url    = "/portfolio/detail/:parameter"
layout = "default"
==
function onEnd() {
    $portfolio = \Mit\Portfolio\Models\Portfolio::whereSlug($this->param('parameter'))->first();
    $this['portfolio'] = $portfolio;
    $this->page->title = $portfolio->title;
}
==
{% partial 'banner-primary' title=this.page.title %}
<div id="rs-portfolio" class="rs-portfolio single pt-100 md-pt-80 pb-100 lg-pb-92 md-pb-72">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-45 md-pr-15">
                <img class="mb-25" src="{{ portfolio.galleries|length ? portfolio.galleries.path : 'assets/images/placeholder-news.png'|theme }}" alt="">
                <h2>{{ portfolio.title }}</h2>
                {{ portfolio.body|raw }}
            </div>
            <div class="col-lg-4 md-mb-50 md-order-first">
                <div class="project-sidebar">
                    <div class="sb-project-detail">
                        <h4 class="title">Project Details</h4>
                        <ul>
                            <li><span>Client</span> {{ portfolio.client.name }}</li>
                            <li><span>Location</span> {{ portfolio.location }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if portfolio.galleries|length %}
        <hr>
        <h3 class="mb-41 mt-41">{{ 'Portfolio Galleries'|_ }}</h3>
        <div class="row gallery-wrap">
            {% for gallery in portfolio.galleries %}
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="gallery-item">
                    <div class="content-part">
                        <img src="{{ gallery.getThumb('700', '620', 'crop') }}" alt="">
                        <a class="image-popup" href="{{ gallery.path }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
