title  = "Portfolio"
url    = "/portfolio"
layout = "default"
==
function onEnd() {
    $this['portfolios']  = \Mit\Portfolio\Models\Portfolio::get();
}
==
{% partial 'banner-primary' title=this.page.title %}
<div id="rs-portfolio" class="rs-portfolio style1 pt-100 pb-70 md-pt-80 md-pb-50">
    <div class="container">
        <div class="row">
            {% for portfolio in portfolios %}
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="{{ portfolio.galleries|length ? portfolio.galleries.getThumb('560', '590', 'crop') : 'assets/images/placeholder-service.png'|theme }}" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="{{ 'portfolio/detail'|page({parameter: portfolio.slug}) }}">{{ portfolio.client.name }}</a>
                        <h4 class="title"><a href="{{ 'portfolio/detail'|page({parameter: portfolio.slug}) }}">{{ portfolio.title }}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
