description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="preloader"></div>

        <div class="page">
            {% partial 'header' %}

            {% page %}

            {% partial 'footer' %}
        </div>

        <!-- BACK TO TOP SECTION -->
        <div class="back-to-top bg-primary-color">
            <i class="fab fa-angle-up"></i>
        </div>
        <!-- Integrated important scripts here -->


        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/jquery.js',
            'assets/js/bootstrap.js',
            'assets/js/jquery-core.js',
            'assets/js/main.js'

        ]|theme }}"></script>

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
