[viewBag]

==
<!-- Footer Area Start -->
<footer class="footer anim-object2">
    <div class="footer-main-area" data-background="https://webextheme.com/html/logistek-html/version3/images/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="widget footer-widget">
                        <img src="https://maritimindotrans.com/img/logomit2.png" alt="" class="mrb-20">
                        <address class="mrb-25">
                            <p class="text-light-gray">{{ settings.site.site_description }}</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container footer-border-top pdt-30 pdb-10">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        <span class="text-light-gray">
                            Copyright © 2021 by <span class="text-primary-color">{{ settings.site.site_name }}</span>
                            | All rights reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
