[viewBag]

[staticMenu mainMenu]
code = "main-menu"

[localePicker]
==
function onEnd() {
    $this['certifications'] = \Mit\Certification\Models\Certification::get();
}
==
<!-- header Start -->
<header class="header-style-two">
    <div class="header-wrapper">
        <div class="header-top-area bg-primary-color d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 header-top-left-part">
                        <span class="phone">
                            <i class="webexflaticon flaticon-send"></i>
                            {{ settings.site.contacts[0].phone }}
                        </span>
                        <span class="phone">
                            <i class="webexflaticon flaticon-send"></i>
                            {{ settings.site.contacts[0].email }}
                        </span>
                    </div>
                    <div class="col-lg-6 header-top-right-part text-right">
                        <div class="language">
                            {% for code, name in locales %}
                            {% if  code == activeLocale %}
                            <a class="language-btn" href="#">
                                <i class="webexflaticon flaticon-internet"></i>
                                {{ name }}
                            </a>
                            {% endif %}
                            {% endfor  %}
                            <ul class="language-dropdown">
                                {% for code, name in locales %}
                                <li>
                                    <a href="#">{{ name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-navigation-area two-layers-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand logo f-left mrt-10 mrt-md-0" href="{{ 'home'|page }}">
                            <img id="logo-image" class="img-center" src="https://maritimindotrans.com/img/logomit2.png" alt="">
                        </a>
                        <div class="mobile-menu-right"></div>
                        <div class="header-searchbox-style-two d-none d-xl-block">
                            <div class="side-panel side-panel-trigger text-right d-none d-lg-block">
                                <span class="bar1"></span>
                                <span class="bar2"></span>
                                <span class="bar3"></span>
                            </div>
                        </div>
                        <div class="side-panel-content">
                            <div class="close-icon">
                                <button>
                                    <i class="webex-icon-cross"></i>
                                </button>
                            </div>
                            <div class="side-panel-logo mrb-30">
                                <a href="{{ 'home'|page }}">
                                    <img src="images/logo-sidebar-dark.png" alt=""/>
                                </a>
                            </div>
                            <div class="side-info mrb-30">
                                <div class="side-panel-element mrb-25">
                                    <h4 class="mrb-10">Office Address</h4>
                                    <ul class="list-items">
                                        <li>
                                            {{ settings.site.contacts[0].address }}
                                        </li>
                                        <li>
                                            {{ settings.site.contacts[0].email }}
                                        </li>
                                        <li>
                                            {{ settings.site.contacts[0].phone }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="side-info mrb-30">
                                <div class="side-panel-element mrb-25">
                                    <h4 class="mrb-10">Certification</h4>
                                    <ul class="list-items">
                                        {% for cert in certifications %}
                                        <li>
                                            {{ cert.code }} ({{ cert.number}})
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu f-right">
                            <nav id="mobile-menu-right">
                                <ul>
                                    {% for item in mainMenu.menuItems %}
                                    <li class="{{ item.items|length ? 'has-sub' : '' }}">
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                        {% if item.items|length %}
                                        <ul class="sub-menu">
                                            {% for it in item.items %}
                                            <li><a href="{{ it.url }}">{{ it.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header End -->
