<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{% set _meta_title       = this.page.title ? this.page.title ~ ' - ' ~ settings.site.site_name : settings.site.site_name ~ ' - ' ~ settings.site.site_description %}
{% set _meta_description = this.page.description ?: settings.site.site_description %}
{% set _meta_image       = this.page.image ? this.page.image|app : this.theme.site_image ? this.theme.site_image.getThumb(1200, 630, 'crop')|app : 'meta-image.png'|media|app %}

<!-- Place this data between the <head> tags of your website -->
<title>{{ _meta_title }}</title>
<meta name="description" content="{{ str_limit(_meta_description, 160) }}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ _meta_title }}">
<meta itemprop="description" content="{{ str_limit(_meta_description, 300) }}">
<meta itemprop="image" content="{{ _meta_image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter">
<meta name="twitter:title" content="{{ _meta_title }}">
<meta name="twitter:description" content="{{ str_limit(_meta_description, 300) }}">

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ _meta_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ _meta_title }}">
<meta property="og:url" content="{{ ''|page }}">
<meta property="og:image" content="{{ _meta_image }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:description" content="{{ str_limit(_meta_description, 300) }}">
<meta property="og:site_name" content="{{ settings.site.site_name }}">

<!-- Facebook Data -->
<meta property="fb:app_id" content="">
<meta property="fb:page_id" content="">

<link rel="canonical" href="{{ ''|page }}">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333">
<meta name="apple-mobile-web-app-title" content="{{ settings.site.site_name }}">
<meta name="application-name" content="{{ settings.site.site_name }}">
<meta name="msapplication-TileColor" content="#333">
<meta name="theme-color" content="#333">

<!-- Google Fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">

<!-- App Styles -->
<link href="{{ [
    '@framework.extras',

    'assets/css/animate.css',
    'assets/css/bootstrap.css',
    'assets/css/custom-animation.css',
    'assets/css/magnific-popup.css',
    'assets/css/menu.css',
    'assets/css/owl-carousel.css',
    'assets/css/style.css',
    'assets/css/responsive.css',

    'assets/fonts/flaticon.css',
    'assets/fonts/webex.css',

]|theme }}" rel="stylesheet">
