title  = "Certification"
url    = "/about/certification"
layout = "default"
==
function onEnd() {
    $this['certifications'] = \Mit\Certification\Models\Certification::get();
}
==
{% partial 'banner-primary' title=this.page.title %}
<div class="rs-services style1 pt-100 pb-84 md-pt-80 md-pb-64">
    <div class="container">
        <div class="row gutter-16">
            {% for cert in certifications %}
            <div class="col-lg-4 col-sm-6 mb-16">
                {% partial 'certification/card-certification' cert=cert %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
