title  = "Client"
url    = "/about/client"
layout = "default"
==
function onEnd() {
    $this['clients'] = \Mit\Client\Models\Client::get();
}
==

{% partial 'banner-primary' title=this.page.title %}
<div class="rs-services style1 pt-100 pb-84 md-pt-80 md-pb-64">
    <div class="container">
        <div class="row gutter-16">
            {% for client in clients %}
            <div class="col-lg-4 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/services/icons/1.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title">
                            <a href="#">{{ client.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
