title  = "Organization"
url    = "/about/organization"
layout = "default"
==
{% partial 'banner-primary' title=this.page.title %}
<div id="rs-about" class="rs-about style1 bg2 pt-92 pb-92">
    <div class="container">
        {% content 'about/organization' %}
    </div>
</div>
