title  = "Profile"
url    = "/about/profile"
layout = "default"
==
function onEnd() {
    $this['certifications'] = \Mit\Certification\Models\Certification::get();
}
==
{% partial 'banner-primary' title=this.page.title %}
<!-- About Section Start -->
<div id="rs-about" class="rs-about style1 bg2 pt-92 pb-92">
    <div class="container">
        {% partial 'about/profile' %}
    </div>
</div>
<!-- About Section End -->

<div class="rs-services style1 modify bg21 pt-92 pb-100 md-pt-72 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-52 md-mb-29">
            <div class="sub-title white-color">CERTIFICATIONS</div>
            <h2 class="title mb-0 white-color">COMPANY CERTIFICATIONS</h2>
        </div>
        <div class="row gutter-16">
            {% for cert in certifications %}
            <div class="col-lg-4 col-sm-6 mb-16">
                {% partial 'certification/card-certification' cert=cert %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Contact Section Start -->
<div class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="white-bg">
            {% for contact in settings.site.contacts %}
                {% partial 'contact/card' contact=contact %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Contact Section End -->
