title  = "Profile"
url    = "/about/profile"
layout = "default"
==

{% partial 'banner-primary' title=this.page.title %}
<!-- About Section Start -->
<section class="about-section anim-object pdt-110 pdb-170 pdb-lg-110" data-background="images/bg/abs-bg1.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-box mrr-60 mrr-lg-0 mrb-lg-110">
                    <img class="about-image1 img-full js-tilt d-none d-xl-block" src="images/about/ab2.jpg" alt="">
                    <img class="about-image2 img-full" src="images/about/ab3.jpg" alt="">
                    <div class="experience">
                        <h4>30+</h4>
                        <p>We have more than years of experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-6 pdl-60">
                <h5 class="side-line-left text-primary-color mrb-15">About Our Company</h5>
                <h2 class="text-uppercase mrb-30">Trusted Logistic Service Provider</h2>
                <ul class="order-list primary-color mrb-40">
                    <li>revolutionary catalysts for chang</li>
                    <li>catalysts for chang the Seamlessly</li>
                    <li>business applications through</li>
                    <li>procedures whereas processes</li>
                </ul>
                <p class="mrb-40">Distinctively exploit optimal alignments for intuitive business applications through revolutionary catalysts for chang the Seamlessly optimal optimal alignments for intuitive.</p>
                <div class="d-flex align-items-center mt-40">
                    <a href="#" class="animate-btn mrr-50">Read More</a>
                    <div class="signature">
                        <img src="images/about/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Divider Section Start -->
<section class="pdt-90 bg-pos-center-center" data-background="images/bg/3.jpg" data-overlay-dark="6">
    <div class="section-content">
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="about-image-block-3">
                        <img class="left-infinite-img img-full" src="images/about/person2.png" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4 p-md-5 pd-sm-25">
                    <h5 class="mrb-15 text-white side-line-left">Why Choose Us?</h5>
                    <h2 class="text-white mrb-30">We Deliver your goods Very Fast &Secure</h2>
                    <p class="text-white mrb-60">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary cataly technologies rather than development optimal alignments for intuitive business applications through.</p>
                    <div class="video-popup-left mrb-lg-60">
                        <a class="popup-youtube-left" href="https://www.youtube.com/watch?v=Fvae8nxzVz4">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider Section End -->
<!-- Team Section Start -->
<section class="pdt-110 pdb-80" data-background="images/bg/abs-bg2.png">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part title-left-part-primary-color  text-xl-right text-left mb-md-3 mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="text-primary-color mrb-15">Meet All Members</h5>
                        </div>
                        <h2 class="title">Team Members</h2>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col-lg-6">
                    <div class="section-title-right-part">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro reiciendis dolore doloribus repellendus tempora vitae quia voluptas ipsum eligend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="images/team/team01.jpg" alt="">
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5">
                                <a href="page-single-team.html">Alica Bendor</a>
                            </h4>
                            <h6 class="designation f-weight-500 text-gray">Engineer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="images/team/team02.jpg" alt="">
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5">
                                <a href="page-single-team.html">Jason Morcal</a>
                            </h4>
                            <h6 class="designation f-weight-500 text-gray">Engineer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="images/team/team03.jpg" alt="">
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5">
                                <a href="page-single-team.html">Teylor Mark</a>
                            </h4>
                            <h6 class="designation f-weight-500 text-gray">Engineer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Testimonials Section Start -->
<section class="request-a-call-back pdt-80 pdb-110 pdb-lg-70" data-background="images/pattern/2.png">
    <div class="section-title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8">
                    <div class="title-box-center">
                        <h5 class="sub-title-center text-primary-color line-top-center mrb-15">Testimonials</h5>
                        <h2 class="title">What People and Clients Think About Us?</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="owl-carousel testimonial-items-3col mrb-lg-40">
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="images/testimonials/testimonial-img1.jpg" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation mrb-10">CEO, Apple Inc.</h6>
                        <ul class="star-rating mrb-30">
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-half text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-empty text-primary-color"></i>
                            </li>
                        </ul>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor consectetur adipisicing elit oluptatibus repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="images/testimonials/testimonial-img2.jpg" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation mrb-20">CEO, Apple Inc.</h6>
                        <ul class="star-rating mrb-30">
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-half text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-empty text-primary-color"></i>
                            </li>
                        </ul>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor consectetur adipisicing elit oluptatibus repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="images/testimonials/testimonial-img3.jpg" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation mrb-20">CEO, Apple Inc.</h6>
                        <ul class="star-rating mrb-30">
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-full text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-half text-primary-color"></i>
                            </li>
                            <li>
                                <i class="webex-icon-star-empty text-primary-color"></i>
                            </li>
                        </ul>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor consectetur adipisicing elit oluptatibus repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->
<!-- Clients Section Start -->
<section class="pdb-90">
    <div class="section-content">
        <div class="container border-top pdt-80">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel client-items">
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client2.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client4.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client5.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients Section End -->
