title     = "Contact"
url       = "/contact"
layout    = "default"
is_hidden = 0

==
{% partial 'banner-primary' title=this.page.title %}
<section class="contact-section pdt-110 pdb-95 pdb-lg-90" data-background="images/bg/abs-bg1.png" style="background-image: url(&quot;images/bg/abs-bg1.png&quot;);">
    <div class="container">
        <div class="row mrb-60">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-block d-flex mrb-30">
                            <div class="contact-icon">
                                <i class="webex-icon-map1"></i>
                            </div>
                            <div class="contact-details mrl-30">
                                <h5 class="icon-box-title mrb-10">Our Address</h5>
                                <p class="mrb-0">{{ settings.site.contacts[0].address }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="contact-block d-flex mrb-30">
                            <div class="contact-icon">
                                <i class="webex-icon-Phone2"></i>
                            </div>
                            <div class="contact-details mrl-30">
                                <h5 class="icon-box-title mrb-10">Phone Number</h5>
                                <p class="mrb-0">{{ settings.site.contacts[0].phone }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="contact-block d-flex mrb-30">
                            <div class="contact-icon">
                                <i class="webex-icon-envelope"></i>
                            </div>
                            <div class="contact-details mrl-30">
                                <h5 class="icon-box-title mrb-10">Email</h5>
                                <p class="mrb-0">{{ settings.site.contacts[0].email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- Google Map Start -->
                <div class="mapouter fixed-height">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="{{ settings.site.contacts[0].maps }}"></iframe>
                    </div>
                </div>
                <!-- Google Map End -->
            </div>
        </div>
    </div>
</section>
