title     = "Home"
url       = "/"
layout    = "default"
is_hidden = 0

==
function onEnd() {
    $this['certifications'] = \Mit\Certification\Models\Certification::get();
    $this['services']       = \Mit\Service\Models\Service::get();
}
==

<!-- Home Slider Start -->
<section class="banner-section">
    <div class="home-carousel owl-theme owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="http://webextheme.com/html/logistek-html/version3/images/bg/1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>
                                Enjoy! Hassle Free <br>Delivery Services
                            </h1>
                            <p>
                                We have almost 35+ years of experience for <br>providing consulting services solutions
                            </p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-primary-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="http://webextheme.com/html/logistek-html/version3/images/bg/1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12 content-column text-center">
                        <div class="content-box">
                            <h1>
                                Enjoy! Hassle Free <br>Delivery Services
                            </h1>
                            <p>
                                We have almost 35+ years of experience for <br>providing consulting services solutions
                            </p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-primary-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="http://webextheme.com/html/logistek-html/version3/images/bg/1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-12 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>
                                Enjoy! Hassle Free <br>Delivery Services
                            </h1>
                            <p>
                                We have almost 35+ years of experience for <br>providing consulting services solutions
                            </p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-primary-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Slider End -->

<section class="about-section z-index-1 pdb-110">
    <div class="container">
        <div class="row mrb-60 align-items-center">
            <div class="col-xl-12">
                <div class="row no-gutters justify-content-center">
                    {% for cert in certifications %}
                    <div class="col-md-6 col-xl-3">
                        <div class="about-feature-box-type2 minus-mrt-60 z-index-1">
                            <div class="about-feature-box-icon">
                                <span class="webexflaticon flaticon-globe"></span>
                            </div>
                            <div class="about-feature-box-content">
                                <div class="title">
                                    <a href="#"><h3>{{ cert.code }}</h3></a>
                                </div>
                                <div class="para">
                                    <p>Reg No. {{ cert.number }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6 pdl-60 mrb-md-60">
                <h5 class="side-line-left text-primary-color mrb-15">About Our Company</h5>
                <h2 class="text-uppercase mrb-30">Trusted Logistic Service Provider</h2>
                <p class="mrb-40">Distinctively exploit optimal alignments for intuitive business applications through revolutionary catalysts for chang the Seamlessly optimal optimal alignments for intuitive.</p>
                <div class="row align-items-center mrb-40">
                    <div class="col-lg-12">
                        <ul class="order-list primary-color mrt-10 mrb-sm-40">
                            <li>Quick Delivery Service</li>
                            <li>Low Delivery Charge</li>
                            <li>Safe &amp; Secure Movement</li>
                            <li>Home Delivery Anytime</li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline d-md-flex align-items-center mt-40">
                    <a href="{{ 'about/profile'|page }}" class="animate-btn mrr-50 mrb-sm-30">Read More</a>
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <div class="about-image-box mrr-60 mrr-lg-0">
                    <img class="about-image2 img-full" src="http://webextheme.com/html/logistek-html/version3/images/about/ab3.jpg" alt="">
                    <div class="popup-video-about">
                        <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="popup-video popup-youtube">
                            <i class="webexflaticon flaticon-play-button-2" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary-color pdt-110 pdb-5" data-background="http://webextheme.com/html/logistek-html/version3/images/bg/abs-bg3.png" style="background-image: url('http://webextheme.com/html/logistek-html/version3/images/bg/abs-bg3.png');">
    <div class="section-title text-center mrb-60">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-7">
                    <h5 class="mrb-15 text-primary-color">All Our Service</h5>
                    <h2 class="text-white">Service We Offer</h2>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content pdb-80">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <div class="project-item mrb-30">
                        <div class="project-thumb">
                            <img class="img-full" src="http://webextheme.com/html/logistek-html/version3/images/project/project_01.jpg" alt="">
                            <div class="project-link-icon">
                                <a href="{{ 'service/detail'|page({slug: service.slug}) }}"><i class="webex-icon-attachment1"></i></a>
                            </div>
                            <div class="project-details p-4">
                                <h6 class="project-category side-line mrb-5">{{ service.name }}</h6>
                                <h3 class="project-title">Service</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="pdt-110 pdb-80">
    <div class="section-title mrb-30 mrb-md-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-6">
                    <h5 class="mrb-15 text-primary-color side-line-left">Activities And Updates</h5>
                    <h2 class="mrb-30">Let's Checkout our All Latest Activity</h2>
                </div>
                <div class="col-lg-4 col-xl-6 align-self-center text-left text-lg-right">
                    <a href="{{ 'news/index'|page }}" class="cs-btn-one btn-primary-color btn-md">All Activity</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row justify-content-center">
                {% for i in 1..6 %}
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="news-wrapper mrb-30">
                        <div class="news-thumb">
                            <img src="http://webextheme.com/html/logistek-html/version3/images/news/01.jpg" class="img-full" alt="blog">
                            <div class="news-date">
                                <div class="entry-date">26 <br> <span>July</span></div>
                            </div>
                        </div>
                        <div class="news-description">
                            <h4 class="the-title"><a href="{{ 'news/detail'|page({slug: default})}}">Distinctively revolutionary exploit catalysts for chang the Seamlessly</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
