title     = "Activities"
url       = "/activity/read/:parameter"
layout    = "default"
is_hidden = 0
==
{% partial 'banner-primary' title=this.page.title %}
<section class="blog-single-news pdt-110 pdb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="single-news-details news-wrapper mrb-30">
                    <div class="single-news-content">
                        <div class="news-thumb">
                            <img src="http://webextheme.com/html/logistek-html/version3/images/news/single-news.jpg" class="img-full" alt="blog">
                            <div class="news-date">
                                <div class="entry-date">26 <br> <span>July</span></div>
                            </div>
                        </div>
                        <div class="news-description">
                            <h4 class="the-title">Tech Entrepreneur Credits Paper Success available have suffered</h4>
                        </div>
                        {% for i in 1..4 %}
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nesciunt iure, corrupti quaerat aspernatur magnam commodi aliquid suscipit assumenda nemo quas exercitationem minus distinctio doloribus eligendi modi. Dolorum, quos! Maxime.
                        </p>
                        {% endfor %}
                        <div class="single-news-tag-social-area clearfix">
                            <div class="single-news-tags f-left f-left-none mrb-lg-30">
                                <h5 class="mrb-15">Related Tags:</h5>
                                <ul class="list">
                                    <li><a href="#">Consulting</a></li>
                                    <li><a href="#">Finance</a></li>
                                    <li><a href="#">Economics</a></li>
                                </ul>
                            </div>
                            <div class="single-news-share text-left text-xl-right">
                                <h5 class="mrb-15">Social Share:</h5>
                                <ul class="social-icons">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 sidebar-right">
                <aside class="news-sidebar-widget">
                    <div class="widget sidebar-widget widget-popular-posts">
                        <h4 class="mrb-30 single-blog-widget-title">Related Posts</h4>
                        {% for i in 1..4 %}
                        <div class="single-post media mrb-20">
                            <div class="post-content media-body align-self-center">
                                <h5 class="mrb-5"><a href="#">Business Solution</a></h5>
                                <span class="post-date"><i class="fa fa-clock-o mrr-5"></i>26 April, 2019</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="widget sidebar-widget widget-categories">
                        <h4 class="mrb-30 single-blog-widget-title">Categories</h4>
                        <ul class="list">
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Business</a><span class="f-right">(08)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Consulting</a><span class="f-right">(16)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Finance</a><span class="f-right">(20)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Corporate</a><span class="f-right">(12)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Conference</a><span class="f-right">(06)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Economics</a><span class="f-right">(03)</span></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
