title     = "Activities"
url       = "/activity"
layout    = "default"
is_hidden = 0
==
{% partial 'banner-primary' title=this.page.title %}
<section class="pdt-110 pdb-80">
    <div class="section-content">
        <div class="container">
            <div class="row justify-content-center">
                {% for i in 1..8 %}
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="news-wrapper mrb-30">
                        <div class="news-thumb">
                            <img src="http://webextheme.com/html/logistek-html/version3/images/news/01.jpg" class="img-full" alt="blog">
                            <div class="news-date">
                                <div class="entry-date">26 <br> <span>July</span></div>
                            </div>
                        </div>
                        <div class="news-description">
                            <h4 class="the-title"><a href="{{ 'news/detail'|page({parameter: default}) }}">Distinctively revolutionary exploit catalysts for chang the Seamlessly</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
